@import "../../../scss/variable.scss";
.input-label {
  display: block;
  margin-bottom: 0.5rem; // equivalent to mb-2
  font-size: 0.875rem; // equivalent to text-sm
  font-weight: 500; // equivalent to font-medium
  color: $card-foreground;
}

.relative {
  position: relative;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  padding-left: 0.875rem;
  pointer-events: none;
}

.input-field {
  background-color: $input;
  border: 1px solid $border;
  color: $primary-foreground;
  font-size: 0.875rem;
  border-radius: 0.5rem;
  width: 100%;
  padding: 0.625rem;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px $ring;
    border-color: $ring;
  }

  &.input-with-icon {
    padding-left: 2.5rem;
  }

  &::placeholder {
    color: $secondary-foreground;
  }
}
