@import "../../../scss/variable.scss";

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* 3 colonnes */
  align-items: center;
  justify-items: center; /* Centre le contenu dans chaque cellule */
  padding: 10px;
  border-bottom: 2px solid $border;

  h1 {
    grid-column: 2; /* Positionne le deuxième élément au centre */
  }

  .link {
    grid-column: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 30px;
    // Styles pour NavLink
    a {
      padding: 0;
      text-decoration: none;
      font-size: 20px;
      color: $foreground;

      &.active {
        text-decoration: underline; // Soulignez le texte lorsque le lien est actif
      }

      &.pending {
        text-decoration: none;
      }
    }
  }
  @media screen and (max-width: 1000px) {
    padding: 10px; /* Réduire le padding pour les écrans plus petits en largeur ou en hauteur */
    h1 {
      font-size: 40px; /* Taille de la police en unité relative à la largeur de la fenêtre par défaut */
    }
    .link {
      gap: 10px;
      a {
        font-size: 15px;
      }
    }
  }

  @media screen and (max-width: 768px) {
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 10px; /* Réduire le padding pour les écrans plus petits en largeur ou en hauteur */
    h1 {
      font-size: 30px; /* Taille de la police en unité relative à la largeur de la fenêtre par défaut */
    }
    .link {
      font-size: 15px;
    }
  }
}
