@import "../../scss/variable.scss";

.listUsers {
  height: 100%;
  width: 100%;

  border: 3px solid $border;
  border-radius: 5px;

  thead {
    tr {
      th {
        padding: 5px;
        border-bottom: 3px solid $border;

        .searchColumn {
          padding: 10px 0px 10px 0px;
        }
      }
    }
  }
  tbody {
    height: 100%;

    tr {
      td {
        padding: 10px;
        text-align: center;
      }
    }
  }
}
