@import "../../scss/variable.scss"; // Assure-toi que tes variables sont correctement importées

.contentUser {
  display: flex;

  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding: 50px 20px;
}
