@import "../../scss/variable.scss"; // Assure-toi que tes variables sont correctement importées

.contentUser {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  height: 100%;
  max-height: 1080px;
}
