@import "../../scss/variable.scss"; // Assure-toi que tes variables sont correctement importées

.contentUser {
  display: flex;

  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 20px 20px;
}
